<h1> Welcome to Ask and Expert </h1>

get your questios answered by an internet certified expert!

<h3>Available Questions</h3>

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question}} {{question-popularity question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
